
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.loginpage{
  background-image: url("../public/Assets/Login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginContent1{
  color: white;
  font-size: 26px;
  padding-left: 650px;
  font-family: Verdana, Geneva, Tahoma, sans-serif

}
.logo-img{
  height: 65px;
  width: 101px;
  padding-top: 5px;
  padding-left: 10px;
}
.logo-text{
  margin-top: 33px;
  font-size: 27px;
  color: #C708CB;
  padding-left: 8px;
}


.nav-tabs {
  background-color: rgb(174, 242, 242);
}

.nav-item {
  padding-left: 40px;
  padding-top: 9px;
  font-size: large;


  :-webkit-any-link {
    text-decoration: underline;
    text-decoration-line: none;
    text-decoration-thickness: 5px;
    text-decoration-color: black;
    color: black;
  }
  :hover{
    color: rgb(245, 118, 211);
  }
  :focus{
    color: rgb(219, 133, 20);
  }
}